{% extends 'base.html.twig' %}

{% block body %}
<h2>Creation d'un article</h2>


{{ form_start(form) }}
{{ form_errors(form) }}

<!--
<div class="form-group row">
    <label for="the_id" class="col-sm-2 col-form-label">label</label>
    <div class="col-sm-10">
        <input type="text" class="fom-control" id="the_id" value="value">
    </div>
</div> -->

<div class="form-group row">
    {{ form_label(form.title, null, {
    'label_attr': {
        'class': 'col-sm-2 col-form-label'
        }})
    }}
    <div class="col-sm-10">
        {{ form_widget(form.title, {
            'attr': {
             'class': 'form-conrol'
            }})
        }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.content, null, {
    'label_attr': {
        'class': 'col-sm-2 col-form-label'
        }})
    }}
    <div class="col-sm-10">
        {{ form_widget(form.content, {
            'attr': {
             'class': 'form-conrol'
            }})
        }}
    </div>
</div>

<button type="submit" class="btn btn-success" name="button">Submit</button>

{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock body %}
